{% extends 'main/base.html' %} {% block title %}Agents{% endblock %} 
{% block content %} 
<h1>Agents</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Details</th>
      {% comment %} <th scope="col">Delete</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
    {% for agent in agents %}
    <tr>
      <td>{{ agent.name }}</td>
      <td>
        <form method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-primary"
            name="get_agent_id"
            value="{{ agent.id }}"
          >
            Details
          </button>
        </form>
      </td>
      {% comment %} <td>
        <form method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-danger"
            name="agent_id"
            value="{{ agent.id }}"
          >
            Delete
          </button>
        </form>
      </td> {% endcomment %}
      {% empty %}
      <div class="pt-5">
        <img src="https://live.staticflickr.com/65535/53391592740_d56e81b830_w.jpg" alt="empty" style="margin-left: 40%;"/>
        <h2 align="center">No Documents</h2>
      </div>
    {% endfor %} 
  </tbody>
</table>
<div class="row align-items-end" >
  <form method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-success"
      name="add-agent"
      value="add-agent"
    >
      Add New Agent
    </button>
  </form>
</div>
{% endblock %}