{% extends 'main/base.html' %} {% block title %}Agents{% endblock %} 
{% block content %} {% for agent in agents %}
<div class="row align-items-end" style="margin-bottom: 10px;">
  <div class="col">
    <h2>{{ agent.name }}</h2>
  </div>
  <div class="col">
    <form method="post">
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-primary"
        name="get_agent_id"
        value="{{ agent.id }}"
      >
        Details
      </button>
    </form>
  </div>
  <div class="col">
    <form method="post">
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-danger"
        name="agent_id"
        value="{{ agent.id }}"
      >
        Delete
      </button>
    </form>
  </div>
{% empty %}
<h2>No Agents yet. Add Agent</h2>
{% endfor %} 
<div class="row align-items-end" >
  <form method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-success"
      name="add-agent"
      value="add-agent"
    >
      Add New Agent
    </button>
  </form>
</div>
{% endblock %}
