{% extends 'main/base.html' %} {% block title %}Brokers{% endblock %} 
{% block content %} 
<div class="row">
  <div class="col">
    <h1>Brokers</h1>
  </div>
  <div class="col pt-3">
    <form action="{% url 'index' %}">
      <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg" name="search" placeholder="Search Client">
          <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
      </div>
  </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Clients</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for broker in brokers %}
    <tr>
      <td>{{ broker.name }}</td>
      <td>{{ broker.number }}</td>
      <td>
        <form method="post">
          {% csrf_token %} 
          <button
            type="submit"
            class="btn btn-primary"
            name="get_client_broker_id"
            value="{{ broker.id }}"
          >
            Clients
          </button>
        </form>
      </td>
      <td>
        <form method="post">
          {% csrf_token %} 
          <button
            type="submit"
            class="btn btn-danger"
            name="broker_id"
            value="{{ broker.id }}"
          >
            Delete
          </button>
        </form>
      </td>
      {% empty %}
    <h2>No Brokers yet. Add Brokers</h2>
    {% endfor %} 
  </tbody>
</table>
<div class="row align-items-end" >
  <form method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-success"
      name="add-broker"
      value="add-broker"
    >
      Add New Broker
    </button>
  </form>
</div>
{% endblock %}
