{% extends 'main/base.html' %} {% block title %}Brokers{% endblock %} 
{% block content %} 
<h1>Clients</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th> Number </th>
      <th scope="col">Details</th>
      {% comment %} <th scope="col">Delete</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
  {% for client in clients %}
  <tr>
    <td>{{ client.name }}</td>
    {% comment %} <td>{{ client.phone }}</td> {% endcomment %}
    <td>{{ client.phone }}</td>
    <td>
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-primary"
          name="client_id"
          value="{{ client.id }}"
        >
          Details
        </button>
      </form>
      </form>
    </td>
    {% comment %} <td>
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-danger"
          name="broker_id"
          value="{{ broker.id }}"
        >
          Delete
        </button>
      </form>
    </td> {% endcomment %}
  {% empty %}
  <div class="pt-5">
    <img src="https://live.staticflickr.com/65535/53391592740_d56e81b830_w.jpg" alt="empty" style="margin-left: 40%;"/>
    <h2 align="center">No Clients yet</h2>
  </div>
  {% endfor %} 
</tbody>
</table>
<div class="row align-items-end" style="margin-bottom: 10px;">
<div class="row align-items-end pt-5 pb-2" >
  <form method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-success"
      name="add-client"
      value="add-client"
    >
      Add New Clients
    </button>
  </form>
</div>
{% endblock %}