{% extends 'main/base.html' %} {% block title %}Brokers{% endblock %} 
{% block content %}
<div class="column align-items-end" style="margin-bottom: 10px;">
  <div class="col">
    <h2>{{ client.name}}</h2>
  </div>
  <div class="col">
    <h2>{{ client.locaton}}</h2>
  </div>
  <div class="col">
    <h2>{{ client.Amount_paid_by}}</h2>
  </div>
  <div class="col">
    <h2>{{ client.commision_paid}}</h2>
  </div>
  <div class="col">
    <h2>{{ client.balance}}</h2>
  </div>
  </div>
{% endblock %}