{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %} 
{% block content %}
<div class="container pt-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width:400px">
          <img class="card-img-top" height="300px" src="https://live.staticflickr.com/65535/53390152572_41af59be3b_z.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Brokers</h4>
          <a href="/brokers" class="btn btn-primary">See Brokers</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card" style="width:400px">
            <img class="card-img-top" height="300px" src="https://live.staticflickr.com/65535/53391259583_56c56991f0_w.jpg" alt="Card image">
          <div class="card-body">
              <h4 class="card-title">Titles And Files</h4>
            <a href="/agents" class="btn btn-primary">See Files</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
