{% extends 'main/base.html' %} {% block title %}titles and documents{% endblock %} 
{% block content %} {% for title in titles %}
<div class="col align-items-end" style="margin-bottom: 10px;">
  <div class="col">
    <h2>{{ title.file }}</h2>
  </div>
  <div class="col">
    <h2>{{ title.block }}</h2>
  </div>
  <div class="col">
    <h2>{{ title.location }}</h2>
  </div>
  <div class="col">
    <h2>{{ title.plot }}</h2>
  </div>
  <div class="col">
    <h2>{{ title.reason }}</h2>
  </div>
  <div class="col">
    <h2>{{ title.signature }}</h2>
  </div>
{% empty %}
<div class="pt-5">
  <img src="https://live.staticflickr.com/65535/53391592740_d56e81b830_w.jpg" alt="empty" style="margin-left: 40%;"/>
  <h2 align="center">No Titles Or Files</h2>
</div>
{% endfor %} 
<div class="row align-items-end" >
  <form method="post">
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-success"
      name="add-title"
      value="add-title"
    >
      Add New New Title Or File
    </button>
  </form>
</div>
{% endblock %}
